<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
   mapper标签:配置各类声明
   namespace：名称空间，由于映射文件可能有多个，为了防止crud语句的唯一标识被重复，需要设置空间名称。
 -->
<mapper namespace="com.demo.mapper.UserMapper">

    <resultMap id="userMap" type="User" autoMapping="true">
        <id property="uid" column="uid"/>
        <collection property="roles" ofType="Role">
            <id property="rid" column="rid"/>
            <collection property="permissions" ofType="Permission">
                <id property="pid" column="pid"/>
            </collection>
        </collection>
    </resultMap>

    <select id="findByUsername" resultType="User">
        select * from user where username = #{username};
    </select>
    <select id="getUserById" resultType="User">
        select * from user where uid = #{id};
    </select>
</mapper>